  .item {
    color: yellowgreen;
  }

  .postsBlock {
    padding: 10px;
  }

  .MessageBlock {
    padding: 2px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
  }

  .posts {
    margin-top: 10px;
  }