.nav {
    grid-area: n;
    background-color: #eea924;
    padding-left: 10px;
    padding-top: 10px;
    }

.item a{
  color: white;
  text-decoration: none;
}

.item a.activeLink {
  color: yellow;
  text-decoration: none;
}