@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 85%;
    grid-template-areas: "h h" "n c" "s c" "f f";
    grid-template-rows: 70px 1fr 1fr 70px;
    grid-template-columns: 2fr 9fr;
    grid-gap: 6px;
    font-family: 'Josefin Sans', cursive;
    font-size: large;
}

.app-wrapper-content {
    grid-area: c;
    background-color: #f0b52b;
}